<ion-content>
  <div class="login_content">
    <div class="image-container">
      <img src="assets/imgs/agendas.png" class="img_agenda" alt="Agenda Electrónica">
    </div>
    
    <ion-card class="login-card">
      <ion-card-content>
        <div class="usuario_contet">
          <ion-input class="inputs" placeholder="Ingrese usuario" type="text" [(ngModel)]="txt_usuario" />
        </div>
        <div class="pass_contet">
          <ion-input class="inputs" placeholder="Ingrese su contraseña" type="password" [(ngModel)]="txt_clave" />
        </div>
        <div class="content_button">
          <ion-button (click)="login()">Iniciar Sesión</ion-button>
        </div>
        <ion-item>
          <ion-label (click)="registrarse()">Registrarse</ion-label>
          <ion-label (click)="recuperar()">Recuperar clave</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
